{% extends "main.html" %}

{% block content %}
    <section class="product spad">
        <div class="container">
            <div class="row" style="width: 1000px;">
                <div class="col-lg-7">
                    <div class="trending__product" style="padding-left: 50px; margin-right: 80px;">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 mb-3">
                                <div class="section-title">
                                    <h4>Search Results</h4>
                                </div>
                            </div>
                            <div class="row">
                                {% if not searched %}
                                    {# nothing yet, or a default/trending view #}
                                {% elif not api_ok %}
                                    <div class="col-lg-12 text-center" style="padding: 40px 0;">
                                        <h5 style="color: #ffffff;">Search Temporarily Unavailable</h5>
                                    </div>
                                {% elif manhwas %}
                                    {% for manhwa in manhwas %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg">
                                                <a href="{{url_for('details', manhwa_id=manhwa.id)}}">
                                                <img src="{{ cover_url[loop.index0] }}">
                                                </a>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    {%for genre in genres[loop.index0]%}
                                                        <li>{{genre}}</li>
                                                    {%endfor%}
                                                </ul>
                                                <h5><a href="{{url_for('details', manhwa_id=manhwa.id)}}">{{ titles[loop.index0] }}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-lg-12 text-center" style="padding: 40px 0;">
                                        <h5 style="color: #ffffff;">No results found for "{{ request.args.get('q', '') }}". Please Check Your Search</h5>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-lg-4 col-md-12" style="padding-left: 0px;">
                                <div class="trending-sidebar">
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <div class="section-title">
                                            <h5>trending this week</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        
{% endblock %} 